# Executáveis
*.exe

# Permitir instaladores
!Instalador/*.exe

# DLLs
*.dll

# Banco de dados
agenda.db

# Arquivos compilados Lazarus
*.ppu
*.o
*.or
*.compiled
*.dbg
*.bak

# Pastas de compilação
lib/
backup/

# Configurações temporárias
*.local